* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root{
    
    /* Tipografias*/

    --tipografiaGeneral: 'Roboto';

    /* Paleta de colores */
    --colorBlanco: #fff;
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;

 }

 body {
    font-family: var(--tipografiaGeneral);
    font-size: 1em;
    font-weight: 400;
    background-color: var(--colorAmarillo);
}

h1 {
    font-family: var(--tipografiaGeneral);
    text-transform: uppercase;
}

ul li {
    list-style: none;
} 

ul {
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

h2{
    font-family: var(--tipografiaGeneral);
    font-size: 1.5em;
}

h3{
    font-family: var(--tipografiaGeneral);
    font-size: 1.1em;
}

h4{
    font-family: var(--tipografiaGeneral);
    font-size: 1em;
}

p{
    font-family: var(--tipografiaGeneral);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--colorGrisOscuro);
}

img{
    width: 100%;
}
