/* HEADER MOBILE */

header{
    text-align: left;
    width: 100%;
}

header div.head-top{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header div.head-top figure{
    width: 50%;
}

header figure img.logo-ml{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 20px ;
}

/*Buscador */
header div.head-top div.buscador{
    width: 50%;
    padding: 2%;
}

header div.head-top div.buscador form{
    display: inline;
}

header div.head-top div.buscador .contenedor-input{
    position: relative;
}
   


header div.head-top div.buscador input{
    width: 100%;
    border: 1px solid silver;
    padding: 5px 30px 5px 5px;
    border-radius: 5px;
}

header div.head-top div.buscador button{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 100%;
    background-color: transparent;
    border: none;
}

header div.head-top div.buscador button i{
    color: var(--colorGrisOscuro);
}


header div.titular{
    width: 100%;
    text-align: center;
    padding: 10px;
}

header div.titular h4{
    display: inline;
}


header nav.contenedor-menu{
    display: none;
}

header div.contenedor-burguer-menu {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px 0 20px;
    margin: 0px;
}

header div.contenedor-burguer-menu button.burguer-menu{
    background-color: var(--colorCeleste);
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
    border:0;
    
}


header div.contenedor-burguer-menu a{
    color: var(--colorBlanco);
    font-size: 1.3rem;
    
    
}



/* TABLET */

@media (min-width:481px){

    header div.head-top figure{
        width: 33.3%;
        
    }
    header div.head-top div.buscador{
        width: 33.3%;
    }

    header div.titular{
        width: 33.3%;
    }

   /* menu */
    header nav.contenedor-menu{
        display: block;
        padding: 0px 20px;
        margin: 20px;
    }
    
    header nav.contenedor-menu ul li {
        text-align: left;
    }
    
    header div.contenedor-burguer-menu {
        display: none;
    }
    
    header nav.contenedor-menu{
        display: flex;
        justify-content: space-between;
        padding: 0px;
    }
    header nav.contenedor-menu ul{
        display: flex;
    }
    header nav.contenedor-menu ul li{
        padding-right: 20px;
    }
    

}
