/* HEADER MOBILE */

header{
    text-align: left;
    width: 100%;
}


header figure img.logo-ml{
    width: 200px;
    height: auto;
    text-align: left;
    padding: 20px ;
}


header form{
    text-align: left;
    margin: 10px 20px ;
}


header div.titular{
    width: 100%;
    text-align: center;
    padding: 10px;
}

header div.titular h4{
    display: inline;
}


header nav.contenedor-menu{
    display: none;
}

header div.contenedor-burguer-menu {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px 0 20px;
    margin: 0px;
}

header div.contenedor-burguer-menu button.burguer-menu{
    background-color: var(--colorCeleste);
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
    border:0;
    
}


header div.contenedor-burguer-menu a{
    color: var(--colorBlanco);
    font-size: 1.3rem;
    
    
}



/* TABLET */

@media (min-width:481px){
    
   
    header nav.contenedor-menu{
        display: block;
        padding: 0px 20px;
        margin: 20px;
    }
    
    header nav.contenedor-menu ul li {
        text-align: left;
    }
    
    header div.contenedor-burguer-menu {
        display: none;
    }
    
}
