/* HEADER */



.home__header img{
    width: 200px;
    height: auto;
    text-align: left;
    padding: 20px ;
}


.home__header form{
    text-align: center;
}


.home__header__div{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.home__header__div h4{
    display: inline;
}


.home__header nav{
    padding: 0px 20px;
    margin: 20px;
}

.home__header nav ul li {
    text-align: left;
}

.home div,nav i{
    font-size: 2em;
    margin-bottom: 10px;
}

.home__header__div--bar {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 20px 0 20px;
    margin: 0px;
}

.home__header__div--bar a{
    background-color: var(--colorCeleste);
    color: var(--colorBlanco);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    
}

/* MAIN ------------------------------*/

.home__main{
    background-color: var(--colorGrisClaro);
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.home__main section{
    text-align: center;
    width: 100%;
}

.home__main h2{
    padding: 20px 0 20px;
    text-align: center;
}

.home__main__div--card{
    background-color: var(--colorBlanco);
    width: 100%;
    height: auto;
    text-align: center;
    
    padding: 20px 0px;
    
    
}


.home__main img.productos{
    width: 280px;
    height: auto;
}

/* FOOTER ------------------------------*/

.home__footer{
    background-color: var(--colorBlanco);
    text-align: center;
    padding: 40px;
}

.home__footer section{
    margin-top: 30px;
}

.home__footer section i{
    font-size: 2rem;
    color: var(--colorCeleste);
    padding-bottom: 10px;
}

.home__footer section p{
    font-weight: 400;
    color: var(--colorGrisOscuro);
    font-size: 12px;
    padding-top: 5px;
}

.home__footer p.copyright{
    font-weight: 400;
    color: var(--colorGrisOscuro);
    font-size: 12px;
    text-align: left;
    padding-top: 30px;
    
}