/* MAIN ------------------------------*/

/* MOBILE */
.home__main{
    background-color: var(--colorGrisClaro);
    text-align: center;
    width: 100%;
}

.home__main__div--banner{
    width: 100%;
}

.home__main section {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    
}

.home__main section h2{
    padding: 20px 0 20px;
    text-align: center;
    color: var(--colorGrisOscuro);
}

.home__main__div--card{
    background-color: var(--colorBlanco);
    margin: 10px;
    text-align: center;
}

.home__main__div--card div.foto_producto{
    
    height: auto;
    text-align: center;
}

.home__main__div--card div.envio{
    border-radius: 100%;
    border: 1px solid var(--colorVerde);
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.home__main__div--card div.envio i{
    color: var(--colorVerde);
}

.home__main__div--card--description{
    text-align: left;
    padding: 15px;
    border-top: 1px solid var(--colorGrisClaro);
}

.home__main__div--card--description h4{
    color: var(--colorVerde);
    
}

.home__main__div--card--description p{
    display: none;
}




/* FOOTER ------------------------------*/

.home__footer{
    background-color: var(--colorBlanco);
    text-align: center;
    padding: 40px;
}

.home__footer section{
    margin-top: 30px;
}

.home__footer section i{
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
}

.home__footer section p{
    font-weight: 400;
    color: var(--colorGrisOscuro);
    font-size: 12px;
    padding-top: 5px;
}

.home__footer p.copyright{
    font-weight: 400;
    color: var(--colorGrisOscuro);
    font-size: 12px;
    text-align: left;
    padding-top: 30px;
    
}


/* MEDIAS QUERIES */

/* TABLET */
@media (min-width:481px){
    .home__main__div--card--description p{
        display:inline-block;
        padding-top: 20px;
    }
    
    .home__main__div--card{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
}