/* MAIN ------------------------------*/

/* MOBILE */
.home__main{
    background-color: var(--colorGrisClaro);
    text-align: center;
    width: 100%;
}

.home__main__div--banner{
    width: 100%;
}

.home__main section {
    width: 100%;
    padding-bottom: 10px;
}

.home__main section h2{
    padding: 20px 30px;
    color: var(--colorGrisOscuro);
}

.home__main__div--card{
    background-color: var(--colorBlanco);
    margin: 10px;
    text-align: center;
}

.home__main__div--card div.foto_producto{
    
    height: auto;
    text-align: center;
}

.home__main__div--card div.envio{
    position: relative;
}

.home__main__div--card div.envio i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: var(--colorVerde);
    background-color: var(--colorBlanco);
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
    position: absolute;
    right: 2px;
    top: -30px;
}

.home__main__div--card--description{
    text-align: left;
    padding: 15px;
    border-top: 1px solid var(--colorGrisClaro);
}

.home__main__div--card--description div.precio{
    display: flex;
}

.home__main__div--card--description h4{
    color: var(--colorVerde);
    margin-left: 10px;
    
}

.home__main__div--card--description p{
    display: none;
}




/* FOOTER ------------------------------*/

.home__footer{
    background-color: var(--colorBlanco);
    text-align: center;
    padding: 40px;
}

.home__footer section{
    margin-top: 30px;
}

.home__footer section i{
    font-size: 2em;
    color: var(--colorCeleste);
    margin-bottom: 10px;
}

.home__footer section p{
    font-weight: 400;
    color: var(--colorGrisOscuro);
    font-size: 12px;
    padding-top: 5px;
}

.home__footer p.copyright{
    font-weight: 400;
    color: var(--colorGrisOscuro);
    font-size: 12px;
    text-align: left;
    padding-top: 30px;
    
}


/* MEDIAS QUERIES */

/* TABLET */
@media (min-width:481px){
    .home__main section h2{
        text-align: left;
    }

    .home__main section div.productos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       justify-content: center;
    }
    .home__main__div--card--description p{
        display:inline-block;
        padding-top: 20px;
    }
    
    .home__main__div--card{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
    
    
    
}

/* DESKTOP */
@media (min-width:1024px){
    .home__main__div--card{
        width: 20%;
    }
    .home__main section h2{
        padding: 20px 70px;
    }
    
}